
html
  box-sizing: border-box
  font-size: 62.5%
  background: $color-body-background

  // +breakpoint-down(sm)
  //   font-size: 75%


  *,
  *:before,
  *:after
    box-sizing: inherit


body
  background: $color-body-background


a
  transition-property: color
  transition-duration: .15s
  transition-timing-function: ease-in-out
  transition-timing-function: $ease-in-out-quint

  &:link,
  &:visited
    color: $color-link
    text-decoration: none

  &:hover,
  &:active
    color: darken($color-link, 15%)
    text-decoration: none
