//sass-lint:disable-all
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,
address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,
b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,
thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,
hgroup,menu,nav,section,summary,time,mark,audio,video
  margin: 0
  padding: 0
  border: 0
  outline: 0
  font-size: 100%
  vertical-align: baseline
  background: transparent

body
  line-height: 1

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary
  display: block

audio,canvas,progress,video
  display: inline-block
  vertical-align: baseline

audio:not([controls])
  display: none
  height: 0

[hidden],template
  display: none

nav ul
  list-style: none

blockquote,q
  quotes: none

blockquote:before,
blockquote:after,
q:before,
q:after
  content: ''
  content: none

a
  margin: 0
  padding: 0
  font-size: 100%
  vertical-align: baseline
  background: transparent

a:active,a:hover
  outline: 0

ins
  background-color: #ff9
  color: #000
  text-decoration: none

mark
  background-color: #ff9
  color: #000
  font-style: italic
  font-weight: bold

del
  text-decoration: line-through

abbr[title],dfn[title]
  border-bottom: 1px dotted
  cursor: help

dfn
  font-style: italic

sub,sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  top: -0.5em

sub
  bottom: -0.25em

img
  border: 0

svg:not(:root)
  overflow: hidden

pre
  overflow: auto

code,kbd,pre,samp
  font-family: monospace, monospace
  display: inline-block
  vertical-align: bottom

button,input,optgroup,select,textarea
  color: inherit
  font: inherit
  margin: 0

button
  overflow: visible

button,select
  text-transform: none

button,html input[type="button"],
input[type="reset"],input[type="submit"]
  -webkit-appearance: button
  cursor: pointer

button[disabled],html input[disabled]
  cursor: default

button::-moz-focus-inner,input::-moz-focus-inner
  border: 0
  padding: 0

input[type="checkbox"],input[type="radio"]
  box-sizing: border-box
  padding: 0

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
  height: auto

input[type="search"]
  -webkit-appearance: textfield
  -moz-box-sizing: content-box
  -webkit-box-sizing: content-box
  box-sizing: content-box

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
  -webkit-appearance: none

legend
  border: 0
  padding: 0

table
  border-collapse: collapse
  border-spacing: 0

td,th
  padding: 0

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid $color-hr
  margin: $spacer 0
  padding: 0
  box-sizing: content-box
