// IE 9 :(

// Deps
@import global/variables/colors
@import global/variables/easings
@import global/config

// Utils
@import utils/functions
@import 'utils/mixins/*'

//
//
//

.header--global
  .header-inner
    +clearfix

  .nav--header
    +clearfix
    text-align: right

    +breakpoint-down(sm)
      text-align: left

    .nav-link
      display: inline-block
      vertical-align: top

  .nav--main
    float: right
    margin-top: 2.3rem

    > .nav-items > .nav-item
      display: block
      float: left

  .logo--header
    float: left


.main--global
  .main-inner
    +clearfix

    .section--articles
      +breakpoint-up(md)
        float: left
        max-width: calc(100% - 27.2rem)

      +breakpoint-up(lg)
        max-width: calc(100% - 30.2rem)

    .sidebar
      +breakpoint-up(md)
        float: left
        max-width: 25.2rem

      +breakpoint-up(lg)
        max-width: 28.2rem

.section--articles
  .article--teaser
    min-height: 17rem


.grid
  +clearfix

  .col,
  [class*='col--']
    width: 100%
    float: left


.block--text
  +breakpoint-up(md)
    +clearfix
    padding-left: 0

    p
      float: left
      width: 33.33%
      padding-left: $spacer


.logo--footer
  margin-bottom: $spacer

  +breakpoint-up(md)
    float: right

.footer-inner
  > div
    +clearfix

.footer-text
  margin-bottom: 0 !important

  +breakpoint-up(md)
    max-width: calc(100% - 16rem)
