.form--contact
  margin-left: $spacer-x * -1
  margin-right: $spacer-x * -1

  +breakpoint-up(md)
    margin-left: 0
    margin-right: 0


// css form validation
// .form:not(:valid)
  // button[type='submit']
  //   cursor: disabled
  //   pointer-events: none
  //   opacity: .5
