//sass-lint:disable no-vendor-prefixes
//
.form-input--text,
.form-input--textarea
  font-size: 1.4rem
  line-height: 1.8rem
  padding: .5rem 1rem
  border: .1rem solid $color-input-border
  background: $color-input-background
  border-radius: $input-radius
  -webkit-appearance: none

  +placeholder
    color: $color-input-placeholder
    transition: color .3s ease-out

  &:focus
    outline: 0
    border-color: $color-gray-darker

    +placeholder
      color: rgba($color-input-placeholder, .35)

  &.form-input--error,
  .form-block--error &
    outline: 0
    border-color: $color-danger

  &:valid
    border-color: $color-success


.form-input--block
  display: block
  width: 100%
