
// Grid
//

.container
  margin-left: auto
  margin-right: auto
  padding-right: $grid-spacer / 2
  padding-left: $grid-spacer / 2
  width: 100%

  +breakpoint-up(sm)
    max-width: $container--sm

  +breakpoint-up(lg)
    max-width: $container--lg


.container--fluid
  width: 100%
  margin-right: auto
  margin-left: auto
  padding-right: $grid-spacer / 2
  padding-left: $grid-spacer / 2

.grid
  display: flex
  flex: 0 1 auto
  flex-direction: row
  flex-wrap: wrap
  margin-right: -.5 * $grid-spacer
  margin-left: -.5 * $grid-spacer

  &.reverse
    flex-direction: row-reverse

.col.reverse
  flex-direction: column-reverse


.col,
[class*='col--']
  flex: 0 0 auto
  padding-right: $grid-spacer / 2
  padding-left: $grid-spacer / 2


// Build grid cols

@each $bp in map-keys($breakpoints)
  +breakpoint-up($bp)

    $bp: breakpoint-infix($bp, $breakpoints)

    .col#{$bp}--auto
      flex-grow: 1
      flex-basis: 0
      max-width: 100%

    .col#{$bp}
      flex-basis: 100%
      max-width: 100%

    @for $i from 1 through $grid-columns
      // Column
      .col#{$bp}--#{$i}
        flex-basis: 100% / $grid-columns * $i
        max-width: 100% / $grid-columns * $i

      // Offset
      .col-offset#{$bp}--#{$i}
        margin-left: 100% / $grid-columns * $i

    // end @for


    .grid#{$bp}--start
      justify-content: flex-start

    .grid#{$bp}--center
      justify-content: center

    .grid#{$bp}--end
      justify-content: flex-end

    .grid#{$bp}--top
      align-items: flex-start

    .grid#{$bp}--middle
      align-items: center

    .grid#{$bp}--bottom
      align-items: flex-end

    .grid#{$bp}--around
      justify-content: space-around

    .grid#{$bp}--between
      justify-content: space-between

    .col#{$bp}--first
      order: -1

    .col#{$bp}--last
      order: 1

    .col#{$bp}--top
      align-self: flex-start

    .col#{$bp}--middle
      align-self: center

    .col#{$bp}--bottom
      align-self: flex-end
