
//
// Visibility
//

.hidden
  display: none !important

@each $bp in map-keys($breakpoints)

  .hidden--#{$bp}--up
    +breakpoint-up($bp)
      display: none !important


  .hidden--#{$bp}--down
    +breakpoint-down($bp)
      display: none !important
