// sass-lint:disable no-duplicate-properties

// Nav main
//

.nav--main
  order: 3
  margin-right: 0
  margin-left: auto

  // First level nav styles
  > .nav-items
    display: flex
    flex-flow: row nowrap
    align-items: flex-end
    justify-content: flex-end

    +breakpoint-down(sm)
      opacity: 0
      visibility: hidden
      position: fixed
      right: 100%
      top: 0
      bottom: 0
      width: 100vw
      max-height: 100vh
      overflow: auto
      z-index: 100
      background: rgba($color-main, .95)
      @supports (backdrop-filter: blur(10px))
        &
          background-color: rgba($color-main, .75)
          backdrop-filter: blur(20px) saturate(180%)

      flex-flow: column nowrap
      align-items: flex-start
      justify-content: flex-start
      padding: ($spacer * 6) ($spacer * 2) ($spacer * 6) ($spacer * 4)
      transition-property: opacity, visibility
      transition-duration: .4s
      transition-timing-function: ease-out
      transition-timing-function: $ease-out-quint
      // genius idea !!
      animation-name: navMenuFlickrFix
      animation-delay: .4s
      animation-duration: 0s
      animation-timing-function: linear
      animation-fill-mode: forwards


      // All nav items
      .nav-item
        transform: translate(0, 0)
        transform: translate3d(0, 0, 0)
        transition: .4s transform ease-out

        @for $i from 1 through 10
          &:nth-of-type(#{$i})
            transform: translate(-#{$i*2}rem, 0)
            transform: translate3d(-#{$i*2}rem, 0, 0)


      .nav--mobile--opened &
        opacity: 1
        visibility: visible

        .nav-item:nth-of-type(n)
          transform: translate(0, 0)
          transform: translate3d(0, 0, 0)


    +breakpoint-down(xs)
      padding: ($spacer * 5) ($spacer * 2) ($spacer * 4) ($spacer)

  > .nav-items > .nav-item
    z-index: 1
    position: relative

    + .nav-item
      margin-top: $spacer * 2

    +breakpoint-up(md)
      // gap between link item and subnav fix
      &:before
        content: ''
        z-index: -1
        position: absolute
        top: 100%
        left: 50%
        transform: translateX(-50%)
        width: 100%
        height: $spacer * 2
        min-width: 15rem
        opacity: 0
        visibility: hidden
        z-index: -1

      + .nav-item
        margin-left: $spacer
        margin-top: 0

      &:hover:before
        visibility: visible

      &:hover > .nav-subnav
        opacity: 1
        visibility: visible
        transform: translate(-50%, 0)
        transform: translate3d(-50%, 0, 0)

        // show caret
        > .nav-item:first-of-type > .nav-link:before
          transform: translate(-50%, 0)
          transform: translate3d(-50%, 0, 0)

      &:hover > .nav-link
        color: $color-nav-main-link-hover


  > .nav-items > .nav-item > .nav-link
    font-size: 2rem
    line-height: 1
    color: $color-nav-main-link

    +breakpoint-down(sm)
      display: block
      font-size: 3.2rem
      margin-bottom: $spacer

    &:hover
      color: $color-nav-main-link-hover

  > .nav-items > .nav-item > .nav-subnav
    +breakpoint-up(md)
      z-index: 10
      position: absolute
      top: calc(100% + #{$spacer})
      left: 50%
      transform: translateX(-50%)
      min-width: 15rem
      background: $color-subnav-background
      opacity: 0
      visibility: hidden
      transform: translate(-50%, 1rem)
      transform: translate3d(-50%, 1rem, 0)
      transition-property: transform, opacity, visibility
      transition-duration: .4s
      transition-timing-function: ease-out
      transition-timing-function: $ease-out-quint

    > .nav-item > .nav-link
      display: block
      font-size: 1.6rem
      line-height: 1.5
      padding: ($spacer-y / 4) ($spacer-x / 2)
      color: $color-subnav-link

      +breakpoint-up(md)
        font-size: 1.2rem
        line-height: 1.6rem
        padding: .6rem .8rem
        transition: background .1s linear

        &:hover
          color: $color-subnav-link
          background: $color-subnav-link-hover-background


  +breakpoint-up(md)
    // Caret
    > .nav-items > .nav-item > .nav-subnav > .nav-item:first-of-type > .nav-link
      position: relative

      &:before
        content: ''
        position: absolute
        bottom: 100%
        left: 50%
        transform: translate(-50%, 1rem)
        transform: translate3d(-50%, 1rem, 0)
        width: 0
        height: 0
        border: 1rem solid rgba($color-subnav-background, 0)
        border-top-width: 0
        border-bottom-color: $color-subnav-background
        transition: .4s

      &:hover
        &:before
          border-bottom-color: $color-subnav-link-hover-background


@keyframes navMenuFlickrFix
  0%
    right: 100%

  100%
    right: 0
