// sass-lint:disable no-duplicate-properties

// Nav toggle
//
.nav-toggle
  position: absolute
  top: 2.175rem
  right: $spacer / 2
  order: 1
  color: white
  width: 6rem
  height: 6rem

  +breakpoint-up(md)
    display: none

  &:hover
    cursor: pointer

  span
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    height: 2px
    border-radius: .5rem
    width: 2.8rem
    transition: all 300ms linear

    &:before,
    &:after
      content: ''
      height: .25rem
      background: white
      position: absolute
      top: 50%
      left: 0
      width: 100%
      margin-top: -1px
      transition: all 300ms linear
      transform-origin: center
      border-radius: 1rem

    &:before
      transform: translateY(-4px) rotate(0deg)
      background: white

    &:after
      transform: translateY(4px) rotate(0deg)
      background: white

.nav--mobile--opened .nav-toggle
  position: fixed
  z-index: 101

  span
    background: rgba(white, 0)

    &:before
      transform: translateY(0) rotate(45deg)
      background: white

    &:after
      transform: translateY(0) rotate(-45deg)
      background: white
