// sass-lint:disable no-duplicate-properties

// Nav footer
//
.nav--footer
  display: flex
  flex-flow: row nowrap
  margin-bottom: $spacer

  +breakpoint-down(sm)
    flex-flow: column nowrap

  .nav-link
    color: $color-nav-footer-link

    +breakpoint-down(sm)
      display: block
      padding: ($spacer-y / 4) ($spacer-y / 2)

      + .nav-link
        border-top: .1rem solid rgba($color-border, .15)

    &:hover
      color: $color-nav-footer-link-hover

    +breakpoint-up(md)
      + .nav-link
        position: relative

        &:before
          content: '|'
          display: inline-block
          vertical-align: baseline
          margin-left: $spacer-x / 2
          margin-right: $spacer-x / 2
          color: $color-nav-footer-link
