// sass-lint:disable no-duplicate-properties

// Nav header
//

.nav--header
  order: 1
  flex: 1 1 100%
  display: flex
  justify-content: flex-end
  margin-bottom: 1.5rem

  .nav-link
    position: relative
    line-height: 1.7rem
    color: $color-nav-header-link

    &:after
      content: ''
      width: 100%
      height: .1rem
      background-color: $color-main-faded
      margin-top: .25rem
      position: absolute
      left: 0
      top: 100%
      opacity: 0
      transform: translateY(1rem)
      transform: translate3d(0, 1rem, 0)
      transition-property: transform, opacity, color
      transition-duration: .4s
      transition-timing-function: ease-out
      transition-timing-function: $ease-out-quint

    &:hover
      color: $color-nav-header-link-hover

      &:after
        transform: translateY(0)
        transform: translate3d(0, 0, 0)
        opacity: 1


    + .nav-link
      margin-left: $spacer / 2
