// sass-lint:disable no-vendor-prefixes

// Columns
//
.block--text
  +clearfix
  margin-bottom: $spacer * 1.25
  padding: $spacer
  background-color: $color-gray-lighter

  +breakpoint-up(md)
    column-count: 2
    column-fill: balance
    column-gap: $spacer

    p
      -webkit-column-break-inside: avoid
      page-break-inside: avoid
      break-inside: avoid

  +breakpoint-up(lg)
    column-count: 3

    p
      margin-bottom: 0
