//sass-lint:disable no-vendor-prefixes
//
%button
  +button-color($color-main)
  position: relative
  display: inline-block
  vertical-align: middle
  margin: 0
  padding: 1rem 2.5rem
  border: 0
  font-weight: 400
  border-radius: $button-radius
  letter-spacing: .2em
  font-size: 1.4rem
  line-height: 1.6rem
  font-family: $font-family
  text-rendering: optimizeLegibilitycolor
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-transform: uppercase
  text-align: center
  text-overflow: ellipsis
  text-decoration: none
  white-space: nowrap
  cursor: pointer
  user-select: none
  background: none
  transition-property: background, color, box-shadow, opacity
  transition-timing-function: linear
  transition-duration: .15s

  &:hover,
  &.button--active,
  &.active,
  &:active,
  &:focus
    text-decoration: none
    outline: 0

  &.button--disabled,
  &.disabled,
  &[disabled]
    opacity: .45
    pointer-events: none
    cursor: not-allowed


.button
  @extend %button

  &--main
    +button-color($color-main)

    &--outline
      +button-color($color-main, outline)

    &--clear
      +button-color($color-main, clear)

//
// Sizes
//

.button--tiny
  padding: .3rem .6rem
  font-size: 1rem
  line-height: 1.2rem
  text-transform: none
  font-weight: 400

.button--small
  padding: .6rem 1rem
  font-size: 1rem
  line-height: 1.2rem
  font-weight: 400

.button--medium
  padding: .1rem .2rem
  font-size: 1.2rem
  text-transform: uppercase
  font-weight: 400

.button--big
  padding: .2rem .3rem
  font-size: 1.6rem
  text-transform: uppercase
  font-weight: 400

.button--large
  padding: .4rem .6rem
  font-size: 1.6rem
  text-transform: uppercase
  font-weight: 400

//
// Modifiers
//


.button--block
  display: block
  width: 100%
  padding-left: 0
  padding-right: 0
  text-align: center

.button--round
  border-radius: 1000px

// buttons stacked
//

.buttons--horizontal
  display: block
  width: 100%

  .flexbox &
    display: flex
    flex-flow: row nowrap
    align-items: flex-start
    justify-content: space-between

    .button
      flex: 1 1 auto


  .no-flexbox &
    +clearfix

    .button
      float: left

.buttons--justified
  display: block
  width: 100%

  .flexbox &
    display: flex
    flex-flow: row nowrap
    align-items: flex-start
    justify-content: space-between

    .button
      flex: 1 1 100%


  .no-flexbox &
    +clearfix

    .button
      float: left
