// Footer global
//

.footer--global
  background: $color-footer-background

  .footer-text
    order: 1
    color: $color-text-faded
    font-size: 1.2rem
    line-height: 1.25

    // ie10 fix
    flex: 0 1 auto
