
.logo
  &--header
    margin: 0
    order: 2
    font-size: 6rem
    line-height: .75
    font-family: $font-family
    font-weight: bold
    color: $color-main-faded
    transition-property: font-size
    transition-duration: .3s
    transition-timing-function: ease-in-out
    transition-timing-function: $ease-in-out-quint

    +breakpoint-down(sm)
      font-size: 4.2rem

  &--footer
    order: 2
    font-size: 3.1rem
    line-height: .75
    font-family: $font-family
    font-weight: bold
    margin-right: 0
    white-space: nowrap
    color: $color-nav-footer-logo
