.header--global

  .header-inner
    position: relative
    display: flex
    flex-flow: column nowrap
    align-items: flex-start
    padding-top: $spacer-y
    padding-bottom: $spacer-y

    +breakpoint-up(md)
      flex-flow: row wrap
      align-items: flex-end
