.main--global

  .main-inner
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    margin-top: $spacer-y * 2

    +breakpoint-down(sm)
      flex-flow: column nowrap
      margin-top: $spacer-y
