.sidebar
  max-width: 48rem
  margin-left: auto
  margin-right: auto
  padding-left: $spacer-x
  padding-right: $spacer-x

  +breakpoint-up(md)
    flex: 0 0 25.2rem
    padding-left: 0
    padding-right: 0

  +breakpoint-up(lg)
    flex: 0 0 28.2rem
